.selectWrapper {
  position: relative;
  width: 150px;
  color: var(--dark-color);
}

.selectHeader {
  text-align: left;
  appearance: none;
  border: none;

  padding: 5px 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 100%;

  &:hover {
    opacity: 0.6;
  }
}

.selectDropdown {
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  transform-origin: 0 0;
  transform: rotateX(90deg);
  transition:
    transform ease 0.2s,
    opacity ease 0.2s;
  opacity: 0;

  &.selectDropdownActive {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.selectList {
  border-radius: 6px;
  border-inline: 2px solid #ddd;
  overflow: hidden;
}

.selectListItem {
  text-align: left;
  appearance: none;
  border: none;
  width: 100%;

  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 2px solid #ddd;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &.active {
    background: #ddd;
    cursor: default;
    pointer-events: none;
  }
}

.selectIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  stroke: var(--dark-color);
}
