.my-node-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
.my-node-exit {
  opacity: 1;
  transform: translateY(0px);
}
.my-node-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
.my-node-exit-done {
  opacity: 0;
  transform: translateY(10px);
}
