*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  // --accent-color-1: rgba(239 246 246 / 0.6);
  --accent-color-1: #f9ffff;

  --text-color: #000;
  --bg-color: #fff;

  --accent-color-success: #2f855a;
  --accent-color-error: #c53030;
  --accent-color-info: #2b6cb0;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: 'Andika', sans-serif;

  transition: background ease 0.15s, color ease 0.15s;
}

input,
textarea,
button,
a {
  font: inherit;
  color: inherit;
}
